@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Cormorant+Garamond:ital,wght@1,600&display=swap');

:root{
    --main-color: #5f4a46;
}

body{
    color: var(--main-color);
}

h1{
    font-size: 5rem;
    font-weight: 400;
    font-family: 'Cinzel', serif;
    text-align: center;
    margin: 0;
}
h2{
    font-family: 'Cinzel', serif;
    text-align: center;
    margin: 0;
}
h3{
    font-weight: 400;
    font-family: 'Cinzel', serif;
    text-align: center;
    margin-top: 0px;
}

.begin-btn{
    margin: 0 auto;
    color: white;
    background-color: var(--main-color);
    border: none;
    padding: 15px 22px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    font-family: 'Cinzel', serif;
}

p{
    font-size: 1.25rem;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 2rem;
    font-style: italic;
    text-align: center;
}
.section{
    text-align: center;
    background-image: url('./img/03_Flordeneu_pattern.png');
}
.card{
    text-align: center;
    position: relative;
    width: 33%;
    padding: 5rem;
    margin: 3em;
    z-index: 2;
}

.card-right{
    position: absolute;
    right: 10%;
    top:12%;
}

.img-lt{
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}
.img-rt{
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}

.s2{
    background-image: url('./img/01_Griselda_fons_pattern.png');
}


.s3{
    background-image: url('./img/02_Gentil_background_pattern.png');
}

.s4{
    background-image: url('./img/03_Flordeneu_pattern.png');
}

.s5{
    background-image: url('./img/04_comte-tallaferro_pattern.png');
}

.s6{
    background-image: url('./img/05_guisla_pattern.png');
}

.s7{
    background-image: url('./img/06_guifre_pattern.png');
}

.fp-tooltip{
    color: var(--main-color) !important;
    font-weight: 400 !important;
    font-family: 'Cinzel', serif !important;
}

@media (max-width: 450px) {
    h1{
        font-size: 2.5rem;
        font-weight: 400;
        font-family: 'Cinzel', serif;
        text-align: center;
        margin: 0;
    }
    
    .card{
        border-radius: 15px;
        font-size: 12px;
        width: 300px;
        padding: 10px;
        z-index: 2;
        position: absolute;
        left: 50%;
        bottom: 0px;
        transform: translateX(-200px);
        max-height: 350px;
        background:rgba(255, 255, 255, 0.6);        
        
    }

    .card-right{
        top: auto;
        position: absolute;
        left: 50%;
        bottom: 5px;
        transform:translateX(-200px);
        max-height: 350px;
    }
    p{
        font-size: 16px;
        margin: 0 auto;
        margin-top: 15px;
    }

    h3{
        margin-top: 15px;
    }

    .flordeneu{
        right: -220px;
    }

    #fp-nav.fp-right{
        right: -2px;
    }
    
}